.o-layout {
  display: grid;

  &__container {
    width: 1400px;
    justify-self: center;

    @media (max-width: $laptop-screen) {
      width: 900px;
    }

    @media (max-width: $tablet-screen) {
      width: 540px;
    }

    @media (max-width: $mobile-screen) {
      width: 360px;
    }
  }
}
