.c-desktop-menu {
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(5, min-content);

  &__item {
    font-family: $principal-font;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;

    &:hover {
      color: $active-light;
      text-decoration: solid underline $active-light 2px;
    }
  }
}
