.c-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 30px 0;

  &__logo {
    grid-column: 1/2;
  }

  &__menu {
    grid-column: 2/3;
    justify-self: center;
  }

  &__contact {
    grid-column: 3/4;
  }

  @media (max-width: $tablet-screen) {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: min-content min-content;

    &__logo {
      grid-column: 1/2;
    }

    &__menu {
      grid-column: 3/4;
    }

    &__contact {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
}
